<p id="comment-body">
 <span></span>
  <%= comment.body %>
</p>
<p "comment-commenter">
  By <%= comment.commenter %>
</p>

  <%= link_to 'Delete comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>